controls {
    width: var(--controls-width);
    position: fixed;
    right: 0;
    transition: var(--transition-normal);
}

body.flashing controls, page.showSettings controls {
    translate: 100% 0;
    opacity: 0;
}


#selectedColor {
    height: 1rem;
    width: 100%;
    
}


#connectBtn {
    width: 100%;
}

#devTools {
    display: inline-block;
    position: relative;

    > div {
        position: absolute;
        translate: .5rem -70%;
        top: 0;
        opacity: 0;
        transition: var(--transition-normal);
        height: 0;
        right: 0;
        overflow: hidden;
    }
    &:hover > div {
        opacity: 1;
        height: auto;
        translate: .5rem -100%;
        padding: 0 0 0 8rem;
    }
}