framesPanel > *{
    box-sizing: border-box;
    width: var(--frames-width);
}

framesPanel {
    background-color: #d5d5d54d;
    padding-bottom: var(--frames-width);
}

#frames {
    overflow: scroll;
    display: flex;
    max-height: 100%;
    flex-direction: column;
}
.frame {
    aspect-ratio: 1/1;
    image-rendering: pixelated;
    padding: .5rem;
}
#addFrame {
    position: sticky;
    bottom: 0;
    aspect-ratio: 1/1;
    background-color: #0b9c1775;

    img {
        outline: .1rem solid oklch(88.837% 0.0001 271.152);
        border-radius: 50%;
        transition: var(--transition-fast);
        scale: 1.3;
    }

    &:active img{
        scale: 1;
    }

}
@keyframes rotate90 {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 90deg;
    }
}


