framesPanel > *{
    box-sizing: border-box;
    width: var(--frames-width);
}

framesPanel {
    position: fixed;
    z-index: 2;
    transition: var(--transition-normal);
    overflow: scroll;
    height: 100%;
}


body.flashing framesPanel, page.showSettings framesPanel {
    translate: -100% 0;
    opacity: 0;
}



.frame {
    width: calc(var(--frames-width) - 1rem);
    height: calc(var(--frames-width) - 1rem);
    margin: .5rem;
    border-radius: .5rem;
    overflow: hidden;
    transition: var(--transition-normal);
    
    canvas {
        aspect-ratio: 1/1;
        image-rendering: pixelated;
        padding: .5rem;
        width: calc(100% - 1rem);
    }
    button {
        background: var(--bg0);
        width: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;

        img {
            width: min(100%, var(--icon-size));
        }
    }
    &.moving {
        transition: translate 0s;
    }
}

.frame.selected {
    background-color: var(--clr);
    height: auto;
}






#addFrame {
    width: calc(var(--frames-width) / 2);
    aspect-ratio: 1/1;
    background-color: var(--clr-d);
    transition: var(--transition-normal);
    margin: 1rem auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        scale: .8;
    }

    &:hover {
        background-color: var(--clr);
    }
}




#addFramePopup {
    display: inline-flex;
    background-color: var(--bg1);
    position: absolute;
    bottom: 50%;
    left: 50%;
    translate: -50% 50%;
    flex-direction: column;
    padding: var(--ui-view-border-padding);
    border-radius: var(--ui-view-border-padding);
    border: .15rem solid var(--clr);
    box-shadow: 0 .1rem 1.5rem black;
    will-change: contents;
    transition: opacity var(--transition-normal), scale var(--transition-normal);

    width: calc(var(--icon-size) * 3);

    pointer-events: none;
    opacity: 0;
    scale: .7;
    &.show {
        pointer-events: all;
        opacity: 1;
        scale: 1;
    }

    grid {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    div {
        aspect-ratio: 1/1;
        width: var(--icon-size);
        position: relative;

        img {
            opacity: .8;
            scale: .8;
            transition: var(--transition-fast), filter 0s;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
        }
    }
    div:hover img {
        opacity: 1;
        scale: .9;
    }
    grid:hover div:not(:hover) img {
        scale: .7;
        opacity: .6;
    }
    div:active img {
        opacity: .2;
    }



    &::before { /* bigger hitbox */
        background-color: var(--hitbox-bg);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        padding: var(--hitbox-size);
        content: '';
    }
}
