

#leds {
    display: grid;
    height: min(var(--leds-max-w), var(--page-height));
    grid-template-columns: repeat(8, auto);
    aspect-ratio: 1/1;
    rotate: var(--leds-rotation);
    transition:
        var(--transition-settings),
        rotate var(--transition-ledsRotation);
    position: absolute;
    top: 50%;
    left: calc(calc(100% - var(--controls-width) - var(--frames-width)) / 2 + var(--frames-width));
    translate: -50% -50%;
    background-color: var(--page-bg);

    &.transitionColors led {
        transition:
            all calc(var(--transition-settings)) var(--delay),
            background-color calc(var(--transition-settings)) var(--delay);
    }
    &:not(.transitionColors) led {
        transition-delay: var(--delay), 0s !important;
    }
}
@property --leds-rotation {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}


#leds-light-bleed {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 200%;
    pointer-events: none;
    z-index: -64;
    opacity: .3;
    transition: opacity var(--transition-normal);
    transition-delay: var(--transition-settings);
}


@property --translate-x {
    syntax: "<length-percentage>";
    inherits: true;
    initial-value: 0%;
}
@property --translate-y {
    syntax: "<length-percentage>";
    inherits: true;
    initial-value: 0%;
}
led {
    --translate-x: 0%;
    --translate-y: 0%;
    --delay: 0s;
    transition: all var(--transition-normal) var(--delay), background-color 0s 0s;
    rotate: calc(var(--leds-rotation) * -1);
    scale: .7;
    border-radius: 16%;
    translate: var(--translate-x) var(--translate-y);
    border: .1rem solid #ffffff40;
    outline: 1px solid transparent;
}
#leds[funAnimation] > led {
    transition: all var(--transition-ledsRotation);
    animation: 
        topBottom 2s infinite,
        leftRight 2s infinite,
        rotate 2s infinite;
}

@keyframes shrink {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.7);
    }
}

@keyframes topBottom {
    25% {
        --translate-y: -25%;
    }
    75% {
        --translate-y: 25%;
    }
}
@keyframes leftRight {
    25% {
        --translate-x: -25%;
    }
    50% {
        --translate-x: 25%;
    }
}
@keyframes rotate {
    25% {
        border-radius: 1rem;
        rotate: 0deg;
    }
    32% {
        rotate: 360deg;
        border-radius: 50%;
    }
    39% {
        border-radius: 1rem;
    }
    69% {
        rotate: 0deg;
    }
}

#leds[checkbox] {
    led {
        background-color: transparent !important;
    }
    led:nth-child(23),
    led:nth-child(26),
    led:nth-child(30),
    led:nth-child(35),
    led:nth-child(37),
    led:nth-child(44) {
        background-color: #14b72c !important;
        scale: 1;
        animation: none;
    }
}



#picker {
    width: 15rem;
    image-rendering: pixelated;
}
