:root {
    --page-bg: #121212;

    --icon-container-bg: #000;

    --ui-view-border-padding: 1rem;
    --icon-size: 2rem;

    --frames-width: 5rem;
    --controls-width: 15rem;
    --page-height: 100vh;
    --leds-margin: 2rem;

    --leds-max-w: calc(100vw - var(--controls-width) - var(--frames-width) - 2*var(--leds-margin));

    --settings-border-radius: 1rem;
    --slider-height: 1.5rem;
}